/* line 1, /Users/piecioshka/projects/test-css-slider/app/styles/scss/layout.scss */
#app {
    width: 350px;
    margin: 0 auto; }
    /* line 5, /Users/piecioshka/projects/test-css-slider/app/styles/scss/layout.scss */
    #app ul {
        list-style: none;
        padding: 0;
        position: relative; }
    /* line 11, /Users/piecioshka/projects/test-css-slider/app/styles/scss/layout.scss */
    #app ul li {
        float: left;
        position: absolute;
        left: 0;
        top: 0; }
    /* line 18, /Users/piecioshka/projects/test-css-slider/app/styles/scss/layout.scss */
    #app h1 {
        border-bottom: 1px solid; }

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0; }
    35% {
        opacity: 0; }
    50% {
        opacity: 1; }
    65% {
        opacity: 0; }
    100% {
        opacity: 0; } }

@keyframes fadeInOut {
    0% {
        opacity: 0; }
    35% {
        opacity: 0; }
    50% {
        opacity: 1; }
    65% {
        opacity: 0; }
    100% {
        opacity: 0; } }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/common.scss */
li img {
    opacity: 0;
    -webkit-animation-name: fadeInOut;
            animation-name: fadeInOut;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

/* line 4, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li img {
    -webkit-animation-duration: 10s;
            animation-duration: 10s; }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li:nth-child(1) img {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li:nth-child(2) img {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li:nth-child(3) img {
    -webkit-animation-delay: 4s;
            animation-delay: 4s; }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li:nth-child(4) img {
    -webkit-animation-delay: 6s;
            animation-delay: 6s; }

/* line 9, /Users/piecioshka/projects/test-css-slider/app/styles/scss/anim/advanced.scss */
li:nth-child(5) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s; }
