@keyframes fadeInOut {
    0% { opacity: 0; }
    35% { opacity: 0; }
    50% { opacity: 1; }
    65% { opacity: 0; }
    100% { opacity: 0; }
}

li img {
    opacity: 0;
    animation-name: fadeInOut;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
